header{
  height: $height_80;
}

img{
  height: 200px;
  padding: 5px;
}

nav{
  float: right;
  margin-top: 50px;

  a{
    line-height: $height_80;
    margin-left: 10px;
    color: red;
    font-style: oblique;
    font-weight: bold;
  }
  a:hover{
    color: #000;
    text-decoration: none;
  }
}
